<h1>Students</h1>

<form>
  <div class="form-group">
    <label>Ask your question:</label><br>
    <input type="text" class="form-control" data-behavior="class_speaker"> 
  </div>
  <p>press enter to submit</p>
</form>
